In [2]:
import requests
import json
import re
import sys
from bs4 import BeautifulSoup
import pandas as pd

soup = BeautifulSoup('html.parser')
soup

In [3]:
# 서울시 25개 구의 법정동 코드 앞 5자리
SEOUL_DISTRICTS = {
    "강남구": "11680",
    "강동구": "11740",
    "강북구": "11305",
    "강서구": "11500",
    "관악구": "11620",
    "광진구": "11215",
    "구로구": "11530",
    "금천구": "11545",
    "노원구": "11350",
    "도봉구": "11320",
    "동대문구": "11230",
    "동작구": "11590",
    "마포구": "11440",
    "서대문구": "11410",
    "서초구": "11650",
    "성동구": "11200",
    "성북구": "11290",
    "송파구": "11710",
    "양천구": "11470",
    "영등포구": "11560",
    "용산구": "11170",
    "은평구": "11380",
    "종로구": "11110",
    "중구": "11140",
    "중랑구": "11260"
}

In [50]:
import time
import requests
from bs4 import BeautifulSoup
import pandas as pd

BASE_URL = "http://apis.data.go.kr/1613000/RTMSDataSvcAptTradeDev/getRTMSDataSvcAptTradeDev"
SERVICE_KEY = "YPxXvm/3jO5hggkbdJFWnhh8IC3VdMlkRvZHh1pkG8eZxXw12ymm4OAW10urfUVN++TzkurcrZ5Os3Gr9P8Kwg=="
URL = f"{BASE_URL}"

# 서울 구별 데이터 저장할 딕셔너리
seoul_real_estate_data = {}

# 크롤링할 기간 설정
start_year = 2025
start_month = 1
end_year = 2025
end_month = 2

# 서울시 각 구별 데이터 요청
# for 서울, 인천, 경기 
# for 연월

for year in range(start_year, end_year + 1):
    for month in range(1, 13):
        if year == start_year and month < start_month:
            continue
        if year == end_year and month > end_month:
            break

        deal_ymd = f"{year}{month:02}"  # 거래 연월 (YYYYMM 형식)
        print(f"⏳ {deal_ymd} 데이터 수집 시작")
    
    # 각 구별 데이터 요청       
    for gu, code in SEOUL_DISTRICTS.items():
        print(f"📌 {gu} ({code}) 데이터 요청 중...")

        params = {
            "LAWD_CD": code,
            "DEAL_YMD": deal_ymd,  # 거래 연월
            "serviceKey": SERVICE_KEY,
            "pageNo": 1,
            "numOfRows": 999
        }

        response = requests.get(URL, params=params)
        response.encoding = "utf-8"
        response.text
        
        # 응답 상태 코드 체크
        if response.status_code == 200:
            print(f"✅ {gu} 응답 상태: {response.status_code}")
            soup = BeautifulSoup(response.text, "xml")

            # 응답 XML 구조 확인
            print(f"📊 {gu} 응답 데이터 샘플:")
            print(soup.prettify()[:1000])  # 데이터 일부 출력해서 확인

            # 'item' 태그가 있는지 확인
            items = soup.find_all("item")
            if not items:
                print(f"⚠️ {gu}에 거래 데이터가 없습니다.")
            else:
                seoul_real_estate_data[gu] = items
                print(f"✅ {gu} 데이터 수집 완료 ({len(items)}건)")

                # 데이터 추출 및 검증
                all_data = []  # 구별 데이터 리스트 초기화
                for item in items:
                    data = {
                        "구": gu,
                        "거래금액": item.find("거래금액").text.strip() if item.find("거래금액") else None,
                        "건축년도": item.find("건축년도").text.strip() if item.find("건축년도") else None,
                        "법정동": item.find("법정동").text.strip() if item.find("법정동") else None,
                        "아파트": item.find("아파트").text.strip() if item.find("아파트") else None,
                        "전용면적": item.find("전용면적").text.strip() if item.find("전용면적") else None,
                        "층": item.find("층").text.strip() if item.find("층") else None,
                        "거래일": f"{item.find('년').text}-{item.find('월').text}-{item.find('일').text}"
                        if item.find('년') and item.find('월') and item.find('일') else None
                    }

                    # 데이터 유효성 검사
                    if None not in data.values():  # 모든 값이 유효한 경우에만 리스트에 추가
                        all_data.append(data)

                # DataFrame 변환
                if all_data:
                    df = pd.DataFrame(all_data)
                    print(f"✅ {gu} DataFrame 생성 완료")
                    print(df.head())

        else:
            print(f"❌ {gu} 요청 실패 (Status Code: {response.status_code})")
        
        time.sleep(0.5)  # API 요청 간격 조절

print("📦 데이터 수집 완료")

⏳ 202501 데이터 수집 시작
⏳ 202502 데이터 수집 시작
📌 강남구 (11680) 데이터 요청 중...
✅ 강남구 응답 상태: 200
📊 강남구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     개나리래미안
    </aptNm>
    <aptSeq>
     11680-3680
    </aptSeq>
    <bonbun>
     0754
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2006
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     322,000
    </dealAmount>
    <dealDay>
     19
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 강남구
    </estateAgentSggNm>
    <excluUseAr>
     129.8
    </excluUseAr>
    <floor>
     15
    </floor>
    <jibun>
     754
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>
✅ 강남구 데이터 수집 완료 (369건)
📌 강동구 (11740) 데이터 요청 중...
✅ 강동구 응답 상태: 200
📊 강동구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     동아하이빌아파트
    </aptNm>
    <aptSeq>
     11740-170
    </aptSeq>
    <bonbun>
     0217
    </bonbun>
    <bubun>
     0132
    </bubun>
    <buildYear>
     2000
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     81,500
    </dealAmount>
    <dealDay>
     24
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 강동구
    </estateAgentSggNm>
    <excluUseAr>
     84.97
    </excluUseAr>
    <floor>
     11
    </floor>
    <jibun>
     217-132
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstD
✅ 강동구 데이터 수집 완료 (325건)
📌 강북구 (11305) 데이터 요청 중...
✅ 강북구 응답 상태: 200
📊 강북구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     포엠빌
    </aptNm>
    <aptSeq>
     11305-3850
    </aptSeq>
    <bonbun>
     0190
    </bonbun>
    <bubun>
     0018
    </bubun>
    <buildYear>
     2008
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     57,500
    </dealAmount>
    <dealDay>
     24
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 강북구, 서울 도봉구
    </estateAgentSggNm>
    <excluUseAr>
     100.385
    </excluUseAr>
    <floor>
     3
    </floor>
    <jibun>
     190-18
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </r
✅ 강북구 데이터 수집 완료 (85건)
📌 강서구 (11500) 데이터 요청 중...
✅ 강서구 응답 상태: 200
📊 강서구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     우장산힐스테이트
    </aptNm>
    <aptSeq>
     11500-477
    </aptSeq>
    <bonbun>
     0657
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2005
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     126,500
    </dealAmount>
    <dealDay>
     27
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 강서구
    </estateAgentSggNm>
    <excluUseAr>
     84.98
    </excluUseAr>
    <floor>
     2
    </floor>
    <jibun>
     657
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>
✅ 강서구 데이터 수집 완료 (212건)
📌 관악구 (11620) 데이터 요청 중...
✅ 관악구 응답 상태: 200
📊 관악구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     봉천우성
    </aptNm>
    <aptSeq>
     11620-21
    </aptSeq>
    <bonbun>
     1706
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2000
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     87,500
    </dealAmount>
    <dealDay>
     26
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 관악구
    </estateAgentSggNm>
    <excluUseAr>
     84.96
    </excluUseAr>
    <floor>
     21
    </floor>
    <jibun>
     1706
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>

✅ 관악구 데이터 수집 완료 (116건)
📌 광진구 (11215) 데이터 요청 중...
✅ 광진구 응답 상태: 200
📊 광진구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     한솔리베르
    </aptNm>
    <aptSeq>
     11215-71
    </aptSeq>
    <bonbun>
     0672
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2002
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     130,000
    </dealAmount>
    <dealDay>
     14
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 광진구
    </estateAgentSggNm>
    <excluUseAr>
     83.31
    </excluUseAr>
    <floor>
     25
    </floor>
    <jibun>
     672
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>

✅ 광진구 데이터 수집 완료 (110건)
📌 구로구 (11530) 데이터 요청 중...
✅ 구로구 응답 상태: 200
📊 구로구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     청구
    </aptNm>
    <aptSeq>
     11530-63
    </aptSeq>
    <bonbun>
     0326
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     1999
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     55,800
    </dealAmount>
    <dealDay>
     22
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 구로구
    </estateAgentSggNm>
    <excluUseAr>
     59.94
    </excluUseAr>
    <floor>
     11
    </floor>
    <jibun>
     326
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>
    <r
✅ 구로구 데이터 수집 완료 (180건)
📌 금천구 (11545) 데이터 요청 중...
✅ 금천구 응답 상태: 200
📊 금천구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     남서울힐스테이트
    </aptNm>
    <aptSeq>
     11545-1642
    </aptSeq>
    <bonbun>
     1026
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2014
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     91,200
    </dealAmount>
    <dealDay>
     28
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 금천구
    </estateAgentSggNm>
    <excluUseAr>
     84.697
    </excluUseAr>
    <floor>
     6
    </floor>
    <jibun>
     1026
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDat
✅ 금천구 데이터 수집 완료 (50건)
📌 노원구 (11350) 데이터 요청 중...
✅ 노원구 응답 상태: 200
📊 노원구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     상계주공12(고층)
    </aptNm>
    <aptSeq>
     11350-32
    </aptSeq>
    <bonbun>
     0647
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     1988
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     40,000
    </dealAmount>
    <dealDay>
     19
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 노원구
    </estateAgentSggNm>
    <excluUseAr>
     41.3
    </excluUseAr>
    <floor>
     5
    </floor>
    <jibun>
     647
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>

✅ 노원구 데이터 수집 완료 (313건)
📌 도봉구 (11320) 데이터 요청 중...
✅ 도봉구 응답 상태: 200
📊 도봉구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     우성아파트1
    </aptNm>
    <aptSeq>
     11320-45
    </aptSeq>
    <bonbun>
     0507
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     1992
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     48,800
    </dealAmount>
    <dealDay>
     28
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 도봉구
    </estateAgentSggNm>
    <excluUseAr>
     83.85
    </excluUseAr>
    <floor>
     11
    </floor>
    <jibun>
     507
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>

✅ 도봉구 데이터 수집 완료 (106건)
📌 동대문구 (11230) 데이터 요청 중...
✅ 동대문구 응답 상태: 200
📊 동대문구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     래미안엘리니티
    </aptNm>
    <aptSeq>
     11230-3082
    </aptSeq>
    <bonbun>
     0796
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2022
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     136,000
    </dealAmount>
    <dealDay>
     22
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 동대문구
    </estateAgentSggNm>
    <excluUseAr>
     74.94
    </excluUseAr>
    <floor>
     6
    </floor>
    <jibun>
     796
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate
✅ 동대문구 데이터 수집 완료 (215건)
📌 동작구 (11590) 데이터 요청 중...
✅ 동작구 응답 상태: 200
📊 동작구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     상도역롯데캐슬파크엘
    </aptNm>
    <aptSeq>
     11590-4993
    </aptSeq>
    <bonbun>
     0904
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2021
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     136,000
    </dealAmount>
    <dealDay>
     28
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 동작구
    </estateAgentSggNm>
    <excluUseAr>
     59.9851
    </excluUseAr>
    <floor>
     14
    </floor>
    <jibun>
     904
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgs
✅ 동작구 데이터 수집 완료 (243건)
📌 마포구 (11440) 데이터 요청 중...
✅ 마포구 응답 상태: 200
📊 마포구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     더클래시
    </aptNm>
    <aptSeq>
     11440-6132
    </aptSeq>
    <bonbun>
     0804
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2022
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     165,000
    </dealAmount>
    <dealDay>
     14
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 마포구
    </estateAgentSggNm>
    <excluUseAr>
     59.5
    </excluUseAr>
    <floor>
     13
    </floor>
    <jibun>
     804
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>

✅ 마포구 데이터 수집 완료 (267건)
📌 서대문구 (11410) 데이터 요청 중...
✅ 서대문구 응답 상태: 200
📊 서대문구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     DMC파크뷰자이1단지
    </aptNm>
    <aptSeq>
     11410-4479
    </aptSeq>
    <bonbun>
     0385
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2015
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     128,000
    </dealAmount>
    <dealDay>
     21
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 서대문구
    </estateAgentSggNm>
    <excluUseAr>
     84.971
    </excluUseAr>
    <floor>
     24
    </floor>
    <jibun>
     385
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rg
✅ 서대문구 데이터 수집 완료 (176건)
📌 서초구 (11650) 데이터 요청 중...
✅ 서초구 응답 상태: 200
📊 서초구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     방배1차현대홈타운
    </aptNm>
    <aptSeq>
     11650-290
    </aptSeq>
    <bonbun>
     1344
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     1999
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     195,800
    </dealAmount>
    <dealDay>
     22
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     직거래
    </dealingGbn>
    <estateAgentSggNm>
    </estateAgentSggNm>
    <excluUseAr>
     84.96
    </excluUseAr>
    <floor>
     2
    </floor>
    <jibun>
     1344
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>
    <roadN
✅ 서초구 데이터 수집 완료 (210건)
📌 성동구 (11200) 데이터 요청 중...
✅ 성동구 응답 상태: 200
📊 성동구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     금호현대
    </aptNm>
    <aptSeq>
     11200-27
    </aptSeq>
    <bonbun>
     0098
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     1990
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     95,000
    </dealAmount>
    <dealDay>
     25
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 성동구
    </estateAgentSggNm>
    <excluUseAr>
     59.91
    </excluUseAr>
    <floor>
     10
    </floor>
    <jibun>
     98
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>
    <
✅ 성동구 데이터 수집 완료 (317건)
📌 성북구 (11290) 데이터 요청 중...
✅ 성북구 응답 상태: 200
📊 성북구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     정릉e-편한세상
    </aptNm>
    <aptSeq>
     11290-3510
    </aptSeq>
    <bonbun>
     1028
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2006
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     60,000
    </dealAmount>
    <dealDay>
     22
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     중개거래
    </dealingGbn>
    <estateAgentSggNm>
     서울 성북구
    </estateAgentSggNm>
    <excluUseAr>
     59.77
    </excluUseAr>
    <floor>
     6
    </floor>
    <jibun>
     1028
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate
✅ 성북구 데이터 수집 완료 (200건)
📌 송파구 (11710) 데이터 요청 중...
✅ 송파구 응답 상태: 200
📊 송파구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     가락삼익맨숀
    </aptNm>
    <aptSeq>
     11710-27
    </aptSeq>
    <bonbun>
     0166
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     1984
    </buildYear>
    <buyerGbn>
     개인
    </buyerGbn>
    <cdealDay>
    </cdealDay>
    <cdealType>
    </cdealType>
    <dealAmount>
     138,000
    </dealAmount>
    <dealDay>
     21
    </dealDay>
    <dealMonth>
     2
    </dealMonth>
    <dealYear>
     2025
    </dealYear>
    <dealingGbn>
     직거래
    </dealingGbn>
    <estateAgentSggNm>
    </estateAgentSggNm>
    <excluUseAr>
     84.828
    </excluUseAr>
    <floor>
     7
    </floor>
    <jibun>
     166
    </jibun>
    <landCd>
     1
    </landCd>
    <landLeaseholdGbn>
     N
    </landLeaseholdGbn>
    <rgstDate>
    </rgstDate>
    <roadNm>

✅ 송파구 데이터 수집 완료 (356건)
📌 양천구 (11470) 데이터 요청 중...
✅ 양천구 응답 상태: 200
📊 양천구 응답 데이터 샘플:
<?xml version="1.0" encoding="utf-8"?>
<response>
 <header>
  <resultCode>
   000
  </resultCode>
  <resultMsg>
   OK
  </resultMsg>
 </header>
 <body>
  <items>
   <item>
    <aptDong>
    </aptDong>
    <aptNm>
     롯데캐슬
    </aptNm>
    <aptSeq>
     11470-4993
    </aptSeq>
    <bonbun>
     1063
    </bonbun>
    <bubun>
     0000
    </bubun>
    <buildYear>
     2014
    </buildYear>

In [51]:
import pandas as pd
import xml.etree.ElementTree as ET

df_seoul_real_estate_data = pd.DataFrame()

for gu, items in seoul_real_estate_data.items():
    for item in items:
        # XML 데이터를 파싱하여 Element 객체로 변환
        xml_data = str(item)

        # XML 파싱
        root = ET.fromstring(xml_data)

        # 각 항목을 딕셔너리 형태로 추출하여 리스트에 저장
        data = {
            'aptDong': root.find('aptDong').text if root.find('aptDong') is not None else '',
            'aptNm': root.find('aptNm').text if root.find('aptNm') is not None else '',
            'aptSeq': root.find('aptSeq').text if root.find('aptSeq') is not None else '',
            'bonbun': root.find('bonbun').text if root.find('bonbun') is not None else '',
            'bubun': root.find('bubun').text if root.find('bubun') is not None else '',
            'buildYear': root.find('buildYear').text if root.find('buildYear') is not None else '',
            'buyerGbn': root.find('buyerGbn').text if root.find('buyerGbn') is not None else '',
            'cdealDay': root.find('cdealDay').text if root.find('cdealDay') is not None else '',
            'cdealType': root.find('cdealType').text if root.find('cdealType') is not None else '',
            'dealAmount': root.find('dealAmount').text if root.find('dealAmount') is not None else '',
            'dealDay': root.find('dealDay').text if root.find('dealDay') is not None else '',
            'dealMonth': root.find('dealMonth').text if root.find('dealMonth') is not None else '',
            'dealYear': root.find('dealYear').text if root.find('dealYear') is not None else '',
            'dealingGbn': root.find('dealingGbn').text if root.find('dealingGbn') is not None else '',
            'estateAgentSggNm': root.find('estateAgentSggNm').text if root.find('estateAgentSggNm') is not None else '',
            'excluUseAr': root.find('excluUseAr').text if root.find('excluUseAr') is not None else '',
            'floor': root.find('floor').text if root.find('floor') is not None else '',
            'jibun': root.find('jibun').text if root.find('jibun') is not None else '',
            'landCd': root.find('landCd').text if root.find('landCd') is not None else '',
            'landLeaseholdGbn': root.find('landLeaseholdGbn').text if root.find('landLeaseholdGbn') is not None else '',
            'rgstDate': root.find('rgstDate').text if root.find('rgstDate') is not None else '',
            'roadNm': root.find('roadNm').text if root.find('roadNm') is not None else '',
            'roadNmBonbun': root.find('roadNmBonbun').text if root.find('roadNmBonbun') is not None else '',
            'roadNmBubun': root.find('roadNmBubun').text if root.find('roadNmBubun') is not None else '',
            'roadNmCd': root.find('roadNmCd').text if root.find('roadNmCd') is not None else '',
            'roadNmSeq': root.find('roadNmSeq').text if root.find('roadNmSeq') is not None else '',
            'roadNmSggCd': root.find('roadNmSggCd').text if root.find('roadNmSggCd') is not None else '',
            'roadNmbCd': root.find('roadNmbCd').text if root.find('roadNmbCd') is not None else '',
            'sggCd': root.find('sggCd').text if root.find('sggCd') is not None else '',
            'slerGbn': root.find('slerGbn').text if root.find('slerGbn') is not None else '',
            'umdCd': root.find('umdCd').text if root.find('umdCd') is not None else '',
            'umdNm': root.find('umdNm').text if root.find('umdNm') is not None else ''
        }

        # 데이터프레임으로 변환
        df = pd.DataFrame([data])

        # 기존 데이터프레임에 합침
        df_seoul_real_estate_data = pd.concat([df_seoul_real_estate_data, df], ignore_index=True)

# 결과 출력
df_seoul_real_estate_data

,aptDong,aptNm,aptSeq,bonbun,bubun,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,...,roadNmBonbun,roadNmBubun,roadNmCd,roadNmSeq,roadNmSggCd,roadNmbCd,sggCd,slerGbn,umdCd,umdNm
0,,개나리래미안,11680-3680,0754,0000,2006,개인,,,"322,000",...,00306,00000,3122008,01,11680,0,11680,개인,10100,역삼동
1,,개포2차현대아파트(220),11680-371,0655,0002,1988,개인,,,"136,500",...,00103,00000,3005086,02,11680,0,11680,개인,10300,개포동
2,,대치삼성,11680-205,1014,0003,2000,개인,,,"290,000",...,00022,00000,4166245,01,11680,0,11680,개인,10600,대치동
3,,청담대림이-편한세상,11680-98,0030,0033,2002,개인,,,"220,000",...,00027,00000,4166819,01,11680,0,11680,개인,10400,청담동
4,,강남한양수자인(4단지),11680-4298,0686,0000,2014,개인,,,"159,000",...,00260,00000,3122014,02,11680,0,11680,개인,11200,자곡동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4761,,두산5,11260-3753,1522,0001,2000,개인,,,"63,000",...,00090,00000,4118361,01,11260,0,11260,개인,10100,면목동
4762,,사가정센트럴아이파크,11260-4104,1545,0000,2020,개인,,,"119,800",...,00040,00000,4118135,01,11260,0,11260,개인,10100,면목동
4763,,신도브래뉴,11260-149,0169,0010,2004,개인,,,"48,000",...,00946,00000,3000001,04,11260,0,11260,개인,10400,묵동
4764,,브라운스톤태릉,11260-108,0387,0000,2004,개인,,,"87,800",...,00059,00000,4118047,01,11260,0,11260,개인,10400,묵동
4765,,세방,11260-50,0383,0000,2000,개인,,,"61,900",...,00025,00000,4118426,01,11260,0,11260,개인,10400,묵동

In [52]:
real_estate_schema = {
    "sggCd": "법정동시군구코드",
    "umdCd": "법정동읍면동코드",
    "landCd": "법정동지번코드",
    "bonbun": "법정동본번코드",
    "bubun": "법정동부번코드",
    "roadNm": "도로명",
    "roadNmSggCd": "도로명시군구코드",
    "roadNmCd": "도로명코드",
    "roadNmSeq": "도로명일련번호코드",
    "roadNmbCd": "도로명지상지하코드",
    "roadNmBonbun": "도로명건물본번호코드",
    "roadNmBubun": "도로명건물부번호코드",
    "umdNm": "법정동",
    "aptNm": "아파트명",
    "jibun": "지번",
    "excluUseAr": "전용면적",
    "dealYear": "계약년도",
    "dealMonth": "계약월",
    "dealDay": "계약일",
    "dealAmount": "거래금액(만원)",
    "floor": "층",
    "buildYear": "건축년도",
    "aptSeq": "단지 일련번호",
    "cdealType": "해제여부",
    "cdealDay": "해제사유발생일",
    "dealingGbn": "거래유형(중개 및 직거래 여부)",
    "estateAgentSggNm": "중개사소재지(시군구 단위)",
    "rgstDate": "등기일자",
    "aptDong": "아파트 동명",
    "slerGbn": "거래주체정보_매도자(개인/법인/공공기관/기타)",
    "buyerGbn": "거래주체정보_매수자(개인/법인/공공기관/기타)",
    "landLeaseholdGbn": "토지임대부 아파트 여부"
}

In [53]:
df_seoul_real_estate_data.rename(columns=real_estate_schema, inplace=True)
df_seoul_real_estate_data.head()

,아파트 동명,아파트명,단지 일련번호,법정동본번코드,법정동부번코드,건축년도,거래주체정보_매수자(개인/법인/공공기관/기타),해제사유발생일,해제여부,거래금액(만원),...,도로명건물본번호코드,도로명건물부번호코드,도로명코드,도로명일련번호코드,도로명시군구코드,도로명지상지하코드,법정동시군구코드,거래주체정보_매도자(개인/법인/공공기관/기타),법정동읍면동코드,법정동
0,,개나리래미안,11680-3680,0754,0000,2006,개인,,,"322,000",...,00306,00000,3122008,01,11680,0,11680,개인,10100,역삼동
1,,개포2차현대아파트(220),11680-371,0655,0002,1988,개인,,,"136,500",...,00103,00000,3005086,02,11680,0,11680,개인,10300,개포동
2,,대치삼성,11680-205,1014,0003,2000,개인,,,"290,000",...,00022,00000,4166245,01,11680,0,11680,개인,10600,대치동
3,,청담대림이-편한세상,11680-98,0030,0033,2002,개인,,,"220,000",...,00027,00000,4166819,01,11680,0,11680,개인,10400,청담동
4,,강남한양수자인(4단지),11680-4298,0686,0000,2014,개인,,,"159,000",...,00260,00000,3122014,02,11680,0,11680,개인,11200,자곡동

In [54]:
df_seoul_real_estate_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4766 entries, 0 to 4765
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   아파트 동명                     4766 non-null   object
 1   아파트명                       4766 non-null   object
 2   단지 일련번호                    4766 non-null   object
 3   법정동본번코드                    4766 non-null   object
 4   법정동부번코드                    4766 non-null   object
 5   건축년도                       4766 non-null   object
 6   거래주체정보_매수자(개인/법인/공공기관/기타)  4766 non-null   object
 7   해제사유발생일                    4766 non-null   object
 8   해제여부                       4766 non-null   object
 9   거래금액(만원)                   4766 non-null   object
 10  계약일                        4766 non-null   object
 11  계약월                        4766 non-null   object
 12  계약년도                       4766 non-null   object
 13  거래유형(중개 및 직거래 여부)          4766 non-null   object
 14  중개사소재지(시군구 단위)             4766 non-null   object
 15  전용면적                       4766 non-null   object
 16  층                          4766 non-null   object
 17  지번                         4766 non-null   object
 18  법정동지번코드                    4766 non-null   object
 19  토지임대부 아파트 여부               4766 non-null   object
 20  등기일자                       4766 non-null   object
 21  도로명                        4766 non-null   object
 22  도로명건물본번호코드                 4766 non-null   object
 23  도로명건물부번호코드                 4766 non-null   object
 24  도로명코드                      4766 non-null   object
 25  도로명일련번호코드                  4766 non-null   object
 26  도로명시군구코드                   4766 non-null   object
 27  도로명지상지하코드                  4766 non-null   object
 28  법정동시군구코드                   4766 non-null   object
 29  거래주체정보_매도자(개인/법인/공공기관/기타)  4766 non-null   object
 30  법정동읍면동코드                   4766 non-null   object
 31  법정동                        4766 non-null   object
dtypes: object(32)
memory usage: 1.2+ MB

In [55]:
# 거래금액 칼럼 데이터타입 변환환
df_seoul_real_estate_data['거래금액(만원)'] = df_seoul_real_estate_data['거래금액(만원)'].str.replace(",", "").astype(int)

In [21]:
# 거래금액을 평균 값으로 그룹화
grouped_seoul_2020 = df_seoul_real_estate_data.groupby(["법정동"], as_index=False).agg({"거래금액(만원)": "mean"})
grouped_seoul_2020

     법정동       거래금액(만원)
0    가락동  128026.271186
1    가산동   25238.666667
2    가양동   74722.666667
3    갈현동   49490.000000
4    강일동   97096.000000
..   ...            ...
268  효창동  104550.000000
269  후암동   41000.000000
270  휘경동   70476.666667
271  흑석동  156169.444444
272  흥인동   74166.666667

[273 rows x 2 columns]

In [28]:
# 거래금액을 평균 값으로 그룹화
grouped_seoul_2021 = df_seoul_real_estate_data.groupby(["법정동"], as_index=False).agg({"거래금액(만원)": "mean"})
grouped_seoul_2021

       법정동       거래금액(만원)
0      가락동  168000.000000
1      가산동   21620.000000
2      가양동  109275.000000
3      갈현동   46500.000000
4      강일동  112666.666667
..     ...            ...
210  회현동1가  110000.000000
211    효제동   38933.333333
212    효창동  150500.000000
213    휘경동   36966.666667
214    흑석동  195750.000000

[215 rows x 2 columns]

In [35]:
grouped_seoul_2022 = df_seoul_real_estate_data.groupby(["법정동"], as_index=False).agg({"거래금액(만원)": "mean"})
grouped_seoul_2022

     법정동       거래금액(만원)
0    가락동  127614.285714
1    가산동   15125.000000
2    가양동   91766.666667
3    갈현동   37000.000000
4    강일동   71125.000000
..   ...            ...
167  회기동   21500.000000
168  효제동   18000.000000
169  후암동  105000.000000
170  휘경동   38900.000000
171  흑석동  165000.000000

[172 rows x 2 columns]

In [42]:
grouped_seoul_2023 = df_seoul_real_estate_data.groupby(["법정동"], as_index=False).agg({"거래금액(만원)": "mean"})
grouped_seoul_2023

     법정동       거래금액(만원)
0    가락동  163600.000000
1    가산동   32680.000000
2    가양동   76400.000000
3    갈현동   54250.000000
4    강일동   85000.000000
..   ...            ...
216  효제동   16000.000000
217  효창동  139000.000000
218  휘경동   41938.888889
219  흑석동  121730.000000
220  흥인동   59133.333333

[221 rows x 2 columns]

In [49]:
grouped_seoul_2024 = df_seoul_real_estate_data.groupby(["법정동"], as_index=False).agg({"거래금액(만원)": "mean"})
grouped_seoul_2024

     법정동       거래금액(만원)
0    가락동  156911.904762
1    가산동   68000.000000
2    가양동   80108.695652
3    갈현동   45143.000000
4    강일동   92000.000000
..   ...            ...
228  효창동  142250.000000
229  후암동   88750.000000
230  휘경동   60327.500000
231  흑석동  150203.125000
232  흥인동   24000.000000

[233 rows x 2 columns]

In [56]:
grouped_seoul_2025 = df_seoul_real_estate_data.groupby(["법정동"], as_index=False).agg({"거래금액(만원)": "mean"})
grouped_seoul_2025

     법정동       거래금액(만원)
0    가락동  168680.921053
1    가산동   40060.000000
2    가양동   75619.230769
3    갈현동   61483.333333
4    강일동   88550.000000
..   ...            ...
245  효창동  148625.000000
246  후암동  184000.000000
247  휘경동   66906.666667
248  흑석동  188842.105263
249  흥인동   20600.000000

[250 rows x 2 columns]

In [77]:
seoul = pd.merge(grouped_seoul_2020, grouped_seoul_2021, on='법정동', how='outer', suffixes=('_2020', '_2021'))
seoul

     법정동  거래금액(만원)_2020  거래금액(만원)_2021
0    가락동  128026.271186  168000.000000
1    가산동   25238.666667   21620.000000
2    가양동   74722.666667  109275.000000
3    갈현동   49490.000000   46500.000000
4    강일동   97096.000000  112666.666667
..   ...            ...            ...
276  효창동  104550.000000  150500.000000
277  후암동   41000.000000            NaN
278  휘경동   70476.666667   36966.666667
279  흑석동  156169.444444  195750.000000
280  흥인동   74166.666667            NaN

[281 rows x 3 columns]

In [78]:
seoul = pd.merge(seoul, grouped_seoul_2022, on='법정동', how='outer', suffixes=('_2021', '_2022'))
seoul

     법정동  거래금액(만원)_2020  거래금액(만원)_2021       거래금액(만원)
0    가락동  128026.271186  168000.000000  127614.285714
1    가산동   25238.666667   21620.000000   15125.000000
2    가양동   74722.666667  109275.000000   91766.666667
3    갈현동   49490.000000   46500.000000   37000.000000
4    강일동   97096.000000  112666.666667   71125.000000
..   ...            ...            ...            ...
278  효창동  104550.000000  150500.000000            NaN
279  후암동   41000.000000            NaN  105000.000000
280  휘경동   70476.666667   36966.666667   38900.000000
281  흑석동  156169.444444  195750.000000  165000.000000
282  흥인동   74166.666667            NaN            NaN

[283 rows x 4 columns]

In [79]:
seoul = pd.merge(seoul, grouped_seoul_2023, on='법정동', how='outer', suffixes=('_2022', '_2023'))
seoul

     법정동  거래금액(만원)_2020  거래금액(만원)_2021  거래금액(만원)_2022  거래금액(만원)_2023
0    가락동  128026.271186  168000.000000  127614.285714  163600.000000
1    가산동   25238.666667   21620.000000   15125.000000   32680.000000
2    가양동   74722.666667  109275.000000   91766.666667   76400.000000
3    갈현동   49490.000000   46500.000000   37000.000000   54250.000000
4    강일동   97096.000000  112666.666667   71125.000000   85000.000000
..   ...            ...            ...            ...            ...
283  효창동  104550.000000  150500.000000            NaN  139000.000000
284  후암동   41000.000000            NaN  105000.000000            NaN
285  휘경동   70476.666667   36966.666667   38900.000000   41938.888889
286  흑석동  156169.444444  195750.000000  165000.000000  121730.000000
287  흥인동   74166.666667            NaN            NaN   59133.333333

[288 rows x 5 columns]

In [80]:
seoul = pd.merge(seoul, grouped_seoul_2024, on='법정동', how='outer', suffixes=('_2023', '_2024'))
seoul

,법정동,거래금액(만원)_2020,거래금액(만원)_2021,거래금액(만원)_2022,거래금액(만원)_2023,거래금액(만원)
0,가락동,128026.271186,168000.000000,127614.285714,163600.000000,156911.904762
1,가산동,25238.666667,21620.000000,15125.000000,32680.000000,68000.000000
2,가양동,74722.666667,109275.000000,91766.666667,76400.000000,80108.695652
3,갈현동,49490.000000,46500.000000,37000.000000,54250.000000,45143.000000
4,강일동,97096.000000,112666.666667,71125.000000,85000.000000,92000.000000
...,...,...,...,...,...,...
290,효창동,104550.000000,150500.000000,NaN,139000.000000,142250.000000
291,후암동,41000.000000,NaN,105000.000000,NaN,88750.000000
292,휘경동,70476.666667,36966.666667,38900.000000,41938.888889,60327.500000
293,흑석동,156169.444444,195750.000000,165000.000000,121730.000000,150203.125000
294,흥인동,74166.666667,NaN,NaN,59133.333333,24000.000000

In [81]:
seoul = pd.merge(seoul, grouped_seoul_2025, on='법정동', how='outer', suffixes=('_2024', '_2025'))
seoul

,법정동,거래금액(만원)_2020,거래금액(만원)_2021,거래금액(만원)_2022,거래금액(만원)_2023,거래금액(만원)_2024,거래금액(만원)_2025
0,가락동,128026.271186,168000.000000,127614.285714,163600.000000,156911.904762,168680.921053
1,가산동,25238.666667,21620.000000,15125.000000,32680.000000,68000.000000,40060.000000
2,가양동,74722.666667,109275.000000,91766.666667,76400.000000,80108.695652,75619.230769
3,갈현동,49490.000000,46500.000000,37000.000000,54250.000000,45143.000000,61483.333333
4,강일동,97096.000000,112666.666667,71125.000000,85000.000000,92000.000000,88550.000000
...,...,...,...,...,...,...,...
293,효창동,104550.000000,150500.000000,NaN,139000.000000,142250.000000,148625.000000
294,후암동,41000.000000,NaN,105000.000000,NaN,88750.000000,184000.000000
295,휘경동,70476.666667,36966.666667,38900.000000,41938.888889,60327.500000,66906.666667
296,흑석동,156169.444444,195750.000000,165000.000000,121730.000000,150203.125000,188842.105263
297,흥인동,74166.666667,NaN,NaN,59133.333333,24000.000000,20600.000000